@import "tailwindcss";
@theme {
  --font-mono: "Fira Code", "Roboto Mono", monospace;

  --color-navy-bg: #0a192f;
  --color-slate-light: #ccd6f6;
  --color-sapphire-bg: #112240;
  --color-mint-accent: #64ffda;
  --color-slate-dark: #8892b0;
}
